streamlit==1.30.0
pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.3
matplotlib-inline==0.1.6
requests==2.31.0
streamlit-shadcn-ui==0.1.18
pygwalker==0.2.0
plotly==5.15.0
plotly-express==0.4.1
mysql-connector==2.2.9
mysqlclient==2.2.4
mysql-connector-python==8.3.0
SQLAlchemy==2.0.28
streamlit-authenticator==0.2.2
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.3.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-option-menu==0.3.2
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
st-annotated-text==4.0.0
st-btn-select==0.1.2
st-login-form==0.2.1
requests==2.31.0
Pillow==9.5.0
pandas==2.2.1
numpy==1.26.4
extra-streamlit-components==0.1.56
Faker==19.2.0
colorama==0.4.6
altair==5.0.1
scikit-learn==1.4.0
pmdarima==2.0.4
python-dateutil==2.9.0
